[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
server = "python src/app.py"
start = "flask run --host=0.0.0.0 --port=8000"
test = "python tests/test_app.py"
